@mixin primary-grid($columnstemplate) {
    display: grid;
    grid-template-columns: $columnstemplate;
    max-width: 1170px;  
    grid-column-gap: 30px;
    grid-row-gap: 30px;
}


//buttons 
@mixin primary-button {
    padding: 22px 32px;
    background-color: transparent;
    text-transform: uppercase;
    border: 1px solid $font-color;
    border-radius: 0px;
    max-width: 345px;
    font-size: 1.06rem; 
    letter-spacing: 0.2em;
    cursor: pointer;
    color: $font-color;
    text-align: center;

    &:hover {
        background-color: $primary-color;
        border: $primary-color;
        color: $primary-bg;
        transition: $main-transition;
    }

  
}