//buttons 
@mixin primary-button {
    padding: 22px 32px;
    background-color: transparent;
    text-transform: uppercase;
    border: 1px solid $font-color;
    border-radius: 0px;
    max-width: 345px;
    font-size: 1.06rem; 
    cursor: pointer;

    &:hover {
        background-color: $primary-color;
        border: $primary-color;
        color: $primary-bg;
        transition: $main-transition;
    }

  
}