//Paragraph & Titles
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,800|Roboto:300,400,800');
$base-paragraph: 'Montserrat', sans-serif;
$base-heading: 'Roboto', sans-serif;

//Colors
$font-color: #8e8c8c;
$heading-color: #575153;
$link-color: #777777;
$primary-color: #00c8c8;
$darkgrey: #333333;
$lightgrey: #f8f8f8;
$borderwhite: #e7e7e7;
$primary-bg: #fff;


//transitions 
$main-transition: 0.4s ease;


