.loginwrapper {
    @include primary-grid(repeat(12, 1fr));
    max-width: 1170px;
    margin: auto;
    margin-top: 64px;

    & input {
        @include input;
    }
    .signin {
        grid-column: 1 / span 6;
        @include primary-grid(repeat(4, 1fr));
        height: 200px;

        &__button {
            width: 155px;
            grid-column: 1 / span 2;
        }

        &__title {
            text-transform: uppercase;
            grid-column: 1 / span 4;
            font-size: 1.125rem;
            font-weight: 800;
        }

        &__email {
            grid-column: 1 / span 4;
        }

        &__password {
            grid-column: 1 / span 4;
        }

        &__wrapper {
            grid-column: 3 / span 2;
            justify-self: end;
            align-self: center;

            a {
                margin-right: 5px;
            }
        }
    }

    .register {
        grid-column: 7 / span 6;
        @include primary-grid(repeat(4,1fr));
        padding-left: 23px;
        border-left: 1px solid $borderwhite;
        &__title {
            grid-column: 1 / span 4;
            font-size: 1.125rem;
            text-transform: uppercase;
            font-weight: 800;
        }
        &__email {
            grid-column: 1 / span 4;
        }
        &__password {
            grid-column: 1 / span 4;
        }
        &__checkbox {
        
        }
        &__wrapper {
            grid-column: 1 / span 4;
            display: flex;
            align-items: center;
        }

        &__button {
            grid-column: 1 / span 2;
        }

        &__accountwrapper {
            grid-column: 3 / span 2;
            display: flex;
            justify-content: center;
            align-self: center;
        }
    }
}